
*{margin : 0px; padding: 0px;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.cover{
    width: 994px;
    height:333px;
    background: url(image/cover.png) no-repeat;
    margin-top: 0px auto;
    margin:  0px auto;
}

.khungchinh{
    width:994px; 
    height: 61px;
    background: #F8182A;
    margin: 0px auto;
    margin-top: -1px;
}

.khungchinh>ul>li{
    float: left;
    padding: 21px 57px;
    position: relative;
    border-right: 1px dotted #fff;
    
}
.khung>ul>li:last-child:last-child{
    border-right: none;
}

.khungchinh>ul>li>ul{
    display: none;
    position: absolute;
    background: #F8182A;
    top:60px;
    left:0px;
    width:186px;
}
.khungchinh>ul>li:hover ul{ 
    display: block;
}
.khungchinh ul li:hover{
    background: darkorange;
    transition: all 0.25s;
}
.khungchinh>ul>li>ul>li{
    padding: 21px 57px;
    border-bottom: 1px dotted #fff;
}
