
*{margin : 0px; padding: 0px;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.cover{
    width: 994px;
    height:333px;
    background: url(image/cover.png) no-repeat;
    margin-top: 0px auto;
    margin:  0px auto;
}

.khungchinh{
    width:994px; 
    height: 61px;
    background: #F8182A;
    margin: 0px auto;
    margin-top: -1px;
}
.khungchinh>ul>li{
    float: left;
    padding: 21px 74px;
    position: relative;
    border-right: 1px dotted #fff;
    
}
.khung>ul>li:last-child:last-child{
    border-right: none;
}
.khungchinh>ul>li>ul{
    display: none;
    position: absolute;
    background: #F8182A;
    top:60px;
    left:0px;
    width:186px;
}
.khungchinh>ul>li:hover ul{ 
    display: block;
}
.khungchinh ul li:hover{
    background: darkorange;
    transition: all 0.25s;
}
.khungchinh>ul>li>ul>li{
    padding: 21px 74px;
    border-bottom: 1px dotted #fff;
}

.container{
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	
	border-width: 3px;
	border-style: solid;
	border-color: red;
	
	border: 3px solid blue;
	
	border-top-left-radius: 4px; 
	border-top-right-radius: 8px;
	border-bottom-right-radius: 16px; 
	border-bottom-left-radius: 32px; 
	margin-left: 13.5%;
	margin-right: 13%;
	margin-top: 0px;
	background: yellow;
	height:100%;
}

.formcontainer{
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	
	border-width: 3px;
	border-style: solid;
	border-color: red;
	
	border: 3px solid blue;

	margin-left: 13%;
	margin-right: 13%;
	margin-top: 0px;
	background: yellow;
	height: 100%;
}